<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Flipkart-Product fuctionality">
        <classes>
            <class name="org.alpha.sanjeevani.assignment.assignment16.test.TestFlipKartProduct">
                <methods>
                    <include name="verifyFlipKartProduct"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>