<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <!--<test
          name="FunctionalTest">
        <classes>
            <class name="org.alpha.darshan.testngconcept.TestClass1"/>
            <class name="org.alpha.darshan.testngconcept.TestClass2"/>
        </classes>
    </test>-->

    <test
            name="FunctionalTest">
        <classes>
           <!-- <class name="org.alpha.darshan.testngconcept.TestClass1"/>
            <class name="org.alpha.darshan.testngconcept.TestClass2"/>-->
            <class name="org.alpha.darshan.testngconcept.TestClass3">
                <methods>
                    <include name="test7"/>
                    <exclude name="test9">
                    </exclude>
                </methods>
            </class>
        </classes>
    </test>
</suite>